doctype html
html
	head
		link(rel='stylesheet', type='text/css', href='/stylesheets/indexStyle.css')
		script(src='/socket.io/socket.io.js')
		script(src='http://code.jquery.com/jquery-latest.min.js')

	body
		.background-image

		.container
			.buttonPush
				ul
					li: a#PopeyesButton(href='#') Popeyes
					li: a#WellmarkButton(href='#') Wellmark
					li: a#GeneralMillsButton(href='#') General Mills
					Li: a#KeybankButton(href='#') Keybank
					li: a#JohnsonvilleButton(href='#') Johnsonville
	
		script.
			jQuery(function($){

				var socket = io.connect(); //SOCKET CONNECT
				//var $buttonPush = ;

				function stateupdate(state){
					$.ajax({
							type: 'PUT', // Use POST with X-HTTP-Method-Override or a straight PUT if appropriate.
							dataType: 'json', // Set datatype - affects Accept header
							url: "http://http://floating-falls-7129.herokuapp.comapi/v1/current_state", // A valid URL
							headers: {"X-HTTP-Method-Override": "PUT"}, // X-HTTP-Method-Override set to PUT.
							data: {"state": state} // Some data e.g. Valid JSON as a string
					}).then(function(data) { console.log(data) });
				}

				$('#PopeyesButton').click(function(){
					//$('body').css('background-color','green');
					$('.background-image').css({"background-image":"url(http://www.pashalaw.com/wp-content/uploads/2015/04/Firing-Pregnant-Armed-Robbery-Victim-a-Bad-Decision-for-Popeyes-Chicken.jpeg)"});
					$('.container ul li').css("background-color","#FF9933");
					stateupdate("Popeyes");
				});

				$('#WellmarkButton').click(function(){
					$('.background-image').css({"background-image":"url(http://www.hoklife.com/wp-content/uploads/2011/08/Pri-WELLBCBS-C01.jpg)"});
					$('.container').css("background","rgba(255,255,255,.7)");
					$('.container ul li').css("background-color","#0099FF");
					stateupdate("Wellmark");
				});

				$('#KeybankButton').click(function(){
					$('.background-image').css({"background-image":"url(http://media.cleveland.com/science_impact/photo/key-tower-by-kuntzjpg-74bbfdc3a82d7cf3.jpg)"});
					$('.container ul li').css("background-color","#8B0000");
					stateupdate("Keybank");
				});

				$('#JohnsonvilleButton').click(function(){
					$('.background-image').css({"background-image":"url(http://wausau.trigs.com/files/5513/2553/6518/five_pack_brats.JPG)"});
					$('.container ul li').css("background-color","#8B0000");
					stateupdate("Johnsonville");
				});

				$('#GeneralMillsButton').click(function(){
					$('.background-image').css({"background-image":"url(http://blog.generalmills.com/wp-content/uploads/Briefcase5.jpg)"});
					$('.container ul li').css("background-color","#003366");
					stateupdate("GeneralMills");
				});

				$('.buttonPush').click(function(e){
					console.log("Button was pushed!");
					socket.emit('buttonpush', {data: "hello"});
				});
			});
			
