doctype html
html(lang='en')
  head
    title Chat
    style.
      #chat{
        height:0px;
      }
      #contentWrap{
        display:none;
      }
      #chatWrap{
        float: left;
        border: 1px #000 solid;
      }
      body, html{
        height:100%;
        width:100%;
      }
  body
    #nickWrap
      p Enter a Username:
      p#nickError
      form#setNick
        input#nickname(size='35')
        input(type='submit')
    
    script(src='http://code.jquery.com/jquery-latest.min.js')
    script(src='/socket.io/socket.io.js')
    script.
      jQuery(function($){
        
        var socket = io.connect(); //CONNECT THE SOCKET

        function linkadapter(url){
          // youtube regex

          var ytrexp = /youtube/;

          if ($('#frame').length > 0) {
            $('#frame').remove();
          }
          
          var newIframe = document.createElement('iframe');
          newIframe.setAttribute('id', 'frame');
          // Set attributes for iFrame (do whatever suits)
          
          // This for the src makes it 'friendly'
          newIframe.src = 'about:blank';
          document.body.appendChild(newIframe); 

          if (ytrexp.exec(url) === null) {

            $.getJSON('http://whateverorigin.org/get?url=' + encodeURIComponent(url) + '&callback=?', function(data){
                var html = ""+data.contents;
                var height;
                newIframe.width = '100%'; newIframe.height = '100%';
                /* Replace relative links to absolute ones */
                html = html.replace(new RegExp('(href|src)="/', 'g'),  '$1="'+url+'/');

                //$('#frame').contents().html(html);

                // Use whatever method is needed to insert the iframe where you want it 
                
                newIframe.contentWindow.document.open('text/html', 'replace');
                newIframe.contentWindow.document.write(html);
                newIframe.contentWindow.document.close();
                height = document.getElementById('frame').contentWindow.document.body.scrollHeight;
                document.getElementById('frame').height = height;
            });

          } else {
            $('#frame').attr('src', url);
            //$('#frame').mozRequestFullScreen();
            $('#frame')[0].setAttribute('height', '100%');
            $('#frame')[0].setAttribute('width', '80%');
            $('#frame').attr('style', 'overflow:hidden;height:100%;width:100%;');
          }

          //change the height of the iframe
        }
        function compdist(data, formvalue){
          if (formvalue === "CPU1"){
            linkadapter(data.link1);
          }
          else if (formvalue === "CPU2"){
            linkadapter(data.link2);
          }
          else if (formvalue === "CPU3"){
            linkadapter(data.link3);
          }
          else if (formvalue === "CPU4"){
            linkadapter(data.link4);
          }
        }
        function brandDistrib(){
          var formvalue = $('#nickname').val();
          $.get("/api/v1/current_state", function (data){
            if (data.brandname === "Popeyes"){
              compdist(data, formvalue);
            }
            else if (data.brandname === 'Wellmark'){
              compdist(data, formvalue);
            }
            else if (data.brandname === 'GeneralMills'){
              compdist(data, formvalue);
            }
            else if (data.brandname === 'Keybank'){
              compdist(data, formvalue);
            }
            else if (data.brandname === 'Johnsonville'){
              compdist(data, formvalue);
            } 
          }, "json");
        }
        
        socket.on('stateupdate', function(data){
          brandDistrib();
        });

        $('#setNick').submit(function(e){
          e.preventDefault();
          
          brandDistrib(); 

          socket.emit('new user', $('#nickname').val(), function(data){
            if (data){
              $('#nickWrap').hide();
              $('#contentWrap').show();
            } else{
              $('#nickError').html("That username is already taken! Try again.");
            }
          });
        });
        
        socket.on('usernames', function(data){
          var html = ' ';
          for(i=0; i < data.length; i++){
              html += data[i] + '<br/>';
          }
          $('#users').html(html);
        });
        
      });