doctype html
html(lang='en')
  head
    title Chat
    style.
      #chat{
        height:0px;
      }
      #contentWrap{
        display:none;
      }
      #chatWrap{
        float: left;
        border: 1px #000 solid;
      }
  body
    #nickWrap
      p Enter a Username:
      p#nickError
      form#setNick
        input#nickname(size='35')
        input(type='submit')
    
    #contentWrap
      #chatWrap
        #chat
        #siteloader
        iframe#frame(width='1000', height='600', src='http://everythingtalks.com')
      #users
    
    script(src='http://code.jquery.com/jquery-latest.min.js')
    script(src='/socket.io/socket.io.js')
    script.
      jQuery(function($){
        
        var socket = io.connect(); //CONNECT THE SOCKET
        var $nickForm = $('#setNick');
        var $nickError = $('#nickError');
        var $nickBox = $('#nickname');
        var $users = $('#users');
        var $messageForm = $('#send-message');
        var $messageBox = $('#message');
        var $chat = $('#chat');
        var $frame = $('#frame');


        function linkadapter(url){
          $.getJSON('http://whateverorigin.org/get?url=' + encodeURIComponent(url) + '&callback=?', function(data){
              var html = ""+data.contents;

              /* Replace relative links to absolute ones */
              html = html.replace(new RegExp('(href|src)="/', 'g'),  '$1="'+url+'/');

              $('#siteloader').html(html);
          });
        }
        function compdist(data, formvalue){
          if (formvalue === "CPU1"){
            linkadapter(data.link1);
          }
          else if (formvalue === "CPU2"){
            linkadapter(data.link2);
          }
          else if (formvalue === "CPU3"){
            linkadapter(data.link3);
          }
          else if (formvalue === "CPU4"){
            linkadapter(data.link4);
          }
        }
        function brandDistrib(){
          var formvalue = $nickBox.val();
          $.get("/api/v1/current_state", function (data){
            if (data.brandname === "Popeyes"){
              console.log("Made it to the get request to snag info from DB!");
              compdist(data, formvalue);
            }
            else if (data.brandname === 'Wellmark'){
              compdist(data, formvalue);
            }
            else if (data.brandname === 'GeneralMills'){
              compdist(data, formvalue);
            }
            else if (data.brandname === 'Keybank'){
              compdist(data, formvalue);
            }
            else if (data.brandname === 'Johnsonville'){
              compdist(data, formvalue);
            } 
          }, "json");
        }
        
        socket.on('stateupdate', function(data){
          console.log(data);
          brandDistrib();
        });

        $nickForm.submit(function(e){
          e.preventDefault();
          
          brandDistrib(); 

          socket.emit('new user', $nickBox.val(), function(data){
            if (data){
              $('#nickWrap').hide();
              $('#contentWrap').show();
            } else{
              $nickError.html("That username is already taken! Try again.");
            }
          });
          $nickBox.val('');
        });
        
        socket.on('usernames', function(data){
          var html = ' ';
          for(i=0; i < data.length; i++){
              html += data[i] + '<br/>';
          }
          $users.html(html);
        });
        
      });