body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('http://i.imgur.com/zH7Wu8n.jpg');
  background-position: center;
}

div {
    height:230px;
    width:100px;
    display: inline-block;
}
